*{
    margin: 0;
    padding: 0;
    font-family: "Iosevka Charon", monospace;
    font-weight: 400;
    font-style: normal;
  
}

Body{
    background-color: #3A0701;
}

.cabeçalho{
    background-color: #F7F8E7;
    display: flex;
    gap: 100px;
}

.Logo_Km{
    height: 10%;
    width: 10%;
}

.palavras_Guia{
    display: flex;
    gap: 100px;
    margin-top: 20px;
}

.H_Sistemas:hover{
    color: rgb(158, 120, 120);
}

.H_Serviços:hover{
    color: rgb(158, 120, 120);
}

.H_Avaliaçoes:hover{
    color: rgb(158, 120, 120);
}

.H_Contato:hover{
    color: rgb(158, 120, 120);
}

.H_Suporte:hover{
    color: rgb(158, 120, 120);
}

.pessoa_Trabalhando{
    height: 900px;
    width: 1920px;
}

.detalhes{
    background-color: #FF3131;
    background-color: rgb(from #FF3131 r g b / 80%);
    display: flex;
    justify-content: end;
    height: 185px;
    width: 370px;
    padding: 20px;
}